body{
	padding: 0px;
	margin: 0px;
	font-size: 14px;
	font-family: arial;
	background: #efefef
}

a{
	text-decoration: none;
	color: #fff;
}


.row{
	width: 100%;
	margin-top: 50px;
}

.menu-container{
	width: 980px;
	margin: 0px auto;
	height: auto;
}

/***** this for menu style *****/
ul#menu{
	padding: 0px;
	margin: 0px;
	list-style: none;
	height: 45px;
	background: #222;
}

ul#menu li{
	float: left;
}

ul#menu li a{
	padding: 15px 10px 15px 10px;
	display: block;
	color: #fff;
}

ul#menu li a:hover{
	background: yellow;
	color: #000;
}



/** this is for sub **/
ul#menu li ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
	display: none;
	position: absolute;
}

ul#menu li:hover > ul{
	display: block;
}

ul#menu li ul li{
	width: 175px;
}

ul#menu li ul li a{
	color: #000;
	display: block;
	border: #ffffff solid 1px;
}

ul#menu li ul li a:hover{
	background: transparent;
	border: #000 solid 1px;
}

.active{
	background: yellow;
}
.active a{
	color: #000!important;
}






